<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section class="chat-box">
      <div class="card">
        <div class="card-box">
          <div class="title-box"><h3>QUIZ DO JOÃO AMARO</h3></div>
          <hr>
          <ul id="messages"></ul>
        </div>
      </div>
    </section>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
  
    const messages = document.getElementById('messages');
  
    socket.on('chat message', (msg) => {
      const item = document.createElement('li');
      item.textContent = msg;
      messages.appendChild(item);
      window.scrollTo(0, document.body.scrollHeight);
    });
  </script>
</html>